.container {
}

.padded {
    margin: 10px;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.hint {
    font-size: 70%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style:none;
}